* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffab00;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

main {
    flex: 1;
}

.content-block {
    background: white;
    margin: 20px; /* Общий отступ для всех экранов */
    padding: 20px;
    border-radius: 8px;
    max-width: calc(100% - 60px);
    box-shadow: 0 0 10px rgb(71, 69, 69);
}

@media (min-width: 600px) {
    .content-block {
        margin-left: calc(10vw); /* 10% ширины окна слева */
        margin-right: calc(10vw); /* 10% ширины окна справа */
        max-width: 80vw; /* 80% доступной ширины экрана для содержимого */
    }
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

html {
    scroll-behavior: smooth; /* Плавная прокрутка */
}

aside {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0; /* Отступ сверху и снизу */
}

aside h3 {
    margin-top: 0; /* Убираем верхний отступ у заголовка. */
}

aside ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
}

aside ul li {
    margin: 8px 0; /* Отступы между пунктами списка */
}

aside a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #000000; /* Цвет ссылок */
}

aside a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

#back-to-top {
    position: fixed;
    bottom: 20px; /* Расположение от нижнего края */
    right: 20px; /* Расположение от правого края */
    background-color: rgb(71, 69, 69); /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Скругленные углы */
    padding: 10px; /* Внутренний отступ */
    cursor: pointer; /* Указатель при наведении */
    display: none; /* Изначально скрыто */
    z-index: 1000; /* Высший уровень отображения */
}

#back-to-top:hover {
    background-color: #555; /* Цвет при наведении */
}

